/* AVENIR HEAVY FONT */
@import url(//db.onlinewebfonts.com/c/901497541657a2f24e42848bcf7fad52?family=Avenir+Heavy);
/* AVENIR MEDIUM */
@import url(//db.onlinewebfonts.com/c/0983e84d4a1963e075b5ae8ca12e2a4f?family=Avenir+Medium);
/* AVENIR LIGHT */
@import url(//db.onlinewebfonts.com/c/116af611cbcd9e4bada60b4e700430c1?family=Avenir+Light);
/* VARIABLES */

:root {
    --bold-family: "Avenir Heavy", sans-serif;
    --bold-medium: "Avenir Medium", sans-serif;
    --light-letter: "Avenir Light", sans-serif;
    --bg-color: #05137a;
    --header-color: #6ac8f8;
    --logo-color: #6832d9;
    --first-color: #f6c843;
    --second-color: #ef7a2e;
    --third-color: #7ccd9a;
    --fourth-color: #e3558f;
    --transition: 0.15s;
}

body {
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
}
/* WORDS */
.container-words {
    justify-content: center;
    margin: 13.5rem;    
    float: left;
    height: 8rem;
    margin-right: 20%;
}

div h1 {
    font-family: var(--bold-family);
    color: var(--fourth-color);
    margin-bottom: -10px;
    font-size: 70px;
}
div span {
    font-family: var(--bold-family);
    display: block;
    font-size: 20px;
    margin-left: 60px;
}
div p {
    font-family: var(--bold-family);
    font-size: 20px;
}
.login-body {
    width: 27rem;
    padding: 3rem;
    text-align: center;
    margin-top: auto;
    display: block;
    margin-bottom: auto;
    border-radius: 10px;
    box-shadow: 0 3px 15px white;
    align-items: center;
    margin-left: -3rem;
    background-color: white;
    color: grey;
}
.product-name {
    color: var(--logo-color);
    font-family: var(--bold-family);
    margin-bottom: 0%;
    font-size: 50px;
}
.company-name {
    font-family: var(--bold-family);
    color: black;
    font-size: 21px;
    margin-left: 90px;
    margin-top: -3.5%;
}

.login, .password-button {
    margin: 13px;
    margin-bottom: 10px;
    width: 20rem;
    padding: 10px;
    font-family: var(--light-letter);
    font-size: 20px;
    color: grey;
    text-align: center;
    border-radius: 10px;
    border-color: whitesmoke;
}

.enter-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 2.5rem;
    width: 10rem;
    border-radius: 10px;
    background: -webkit-gradient(linear, 0 0, 0 0, from(var(--bg-color))), to(var(--header-color));
    background: -moz-linear-gradient(var(--header-color), var(--bg-color));
    background: linear-gradient(var(--header-color), var(--bg-color));
    border-radius: 10px;
    background-color: var(--header-color);
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: var(--bold-family);
    font-weight: 100px;
    border: 1px solid var(--header-color);
    transition: var(--transition);
}
.enter-button:active {
    background: var(--header-color);
    background: -webkit-gradient(linear, 0 0, 0 0, from(var(--bg-color))), to(var(--header-color));
    background: -moz-linear-gradient(var(--bg-color), var(--header-color));
    background: linear-gradient(var(--bg-color), var(--header-color));
}

.welcome-tag {
    font-family: var(--bold-family);
    font-size: 60px;
    color: white;
    margin-left: -50px;
    
}

/* KEG */
.row {
    --bs-gutter-x: none;
    width: 150%;
    margin-top: 20px;
    margin-left: -90px;

}
.col-one {
    background-color: var(--logo-color);
    height: 6px;
}
.col-two {
    background-color: var(--fourth-color);
    height: 6px;
}
.col-three {
    background-color: var(--header-color);
    height: 6px;
}
.col-four {
    background-color: var(--second-color);
    height: 6px;
}