/* AVENIR HEAVY FONT */
@import url(//db.onlinewebfonts.com/c/901497541657a2f24e42848bcf7fad52?family=Avenir+Heavy);
/* AVENIR MEDIUM */
@import url(//db.onlinewebfonts.com/c/0983e84d4a1963e075b5ae8ca12e2a4f?family=Avenir+Medium);
/* AVENIR LIGHT */
@import url(//db.onlinewebfonts.com/c/116af611cbcd9e4bada60b4e700430c1?family=Avenir+Light);
/* VARIABLES */

/* :root {
    --bold-family: "Avenir Heavy", sans-serif;
    --bold-medium: "Avenir Medium", sans-serif;
    --light-letter: "Avenir Light", sans-serif;
    --bg-color: #05137a;
    --header-color: #6ac8f8;
    --logo-color: #6832d9;
    --first-color: #f6c843;
    --second-color: #ef7a2e;
    --third-color: #7ccd9a;
    --fourth-color: #e3558f;
    --transition: 0.15s;
} */
:root {
    --bold-family: "Avenir Heavy", sans-serif;
    --bold-medium: "Avenir Medium", sans-serif;
    --light-letter: "Avenir Light", sans-serif;
    --bg-color: #1F1F1F;
    --grey-dark: #363636;
    --grey--light: #909090;
    --title-color: #fff;
    --paragraph-color : #eaeaea;
    --header-color: #352C21;
    --logo-color: #6832d9;
    --nav-bar-letters: #E99E2D;
    --buttons-colors: #654D2F;
    --first-color: #f6c843;
    --second-color: #ef7a2e;
    --third-color: #7ccd9a;
    --transition: 0.15s;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
}

/* PRINCIPAL CONTAINER */
#principal-container {
    height: 100%;   
    padding: 0%;
}

/* HEADER */
.navbar {
    height: 75px;
    width: 100%;
    background-color: var(--header-color);
}
.acase {
    color: var(--logo-color);
    font-family: var(--bold-family);
    font-size: 30px;
    margin-top: 1rem;
    color: var(--title-color);
    margin-bottom: 4px;
}
.company-name {
    color: var(--paragraph-color);
    font-family: var(--bold-family);
    font-size: 20px;
    margin: 60px;
    position: relative;
    bottom: 15px;
    margin-left: 33px;
}
.nav-link {
    color: var(--nav-bar-letters);
    font-family: var(--bold-medium);
    font-weight: bold;
    transition: var(--transition);
    margin-left: 15px;
    font-size: 17px;
}
.nav-link:hover {
    color: var(--paragraph-color);
}

/* CARDS STYLE */
.card {
    text-align: justify;
    width: 23.5rem;
    height: 275px;
    display: flexbox;
    justify-content: space-between;
    box-shadow: -2px 2px 6px #111;
    background-color: var(--grey-dark);
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 16px 10px 14px;
}
.card-title {
    margin: 3px;
    font-family: var(--bold-family);
    font-size: 16px;
    color: white;
}
.date, .source-url {
    margin: 3px;
    font-size: 11px;
    color:gray;
    font-family: var(--light-letter);
    text-align: justify;
}
.card-text {
    margin: 3px;
    font-size: 12.6px;
    font-family: var(--light-letter);
    color: white;
}
.btn {
    width: 80px;
    background-color: var(--buttons-colors);
    border: 1px solid var(--buttons-colors);
    font-family: var(--bold-medium);
    justify-content: center;
    align-items: center;
    font-size: 12.5px;
    margin-top: 3px;
    margin-left: 2.5px;
    border-radius: 0;
    border: none;
}
.btn:hover {
    background-color: var(--nav-bar-letters);
    opacity: 90%;
    border: none;
}

/* ICONS */
.trash-icon {
    width: 30px;
    height: 30px;
    float: right;
    display: flex;
    margin: 2px 5px;
}

.trash-icon:hover {
    cursor: pointer;
    opacity: 70%;
}
.cards-buttons {
    margin: 15px 0 1px 1px;
}

/* FORM PROPERTIES */
.prompt-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100vh;
    top: 0%;
    overflow: auto;
}
.prompt {
    position: relative;
    top: 50%;
    width: 45vw;
    margin: 25px;
    margin-bottom: 30px;
    height: 100vh;
    transform: translate(50%, -50%);
    justify-content: center;
    border-radius: 2px;
    background-color: var(--bg-color);
    box-shadow: -2px 2px 6px #111;
    color: white;
}
.title-text-form {
    font-family: var(--bold-family);
    font-size: 25px;
    margin-left: 15px; 
    color: var(--title-color);
}
.subtitle-visualization{
    font-family: var(--bold-family);
    font-size: 15px;
    margin: 15px;
    color: var(--title-color);
}
#input-field {
    font-family: var(--light-letter);
    font-size: 17px;
    border-radius: 5px;
    color: grey;
    background-color: var(--bg-color);
    margin-left: 22px;
}
.close-button-visualization {
    width: 80px;
    height: 29px;
    background-color: var(--buttons-colors);
    border: 1px solid var(--buttons-colors);
    font-family: var(--bold-medium);
    justify-content: center;
    align-items: center;
    font-size: 12.5px;
    color: white;
    margin: 5px;
    float: right;
    border-radius: 0;
    border: none;
}
.close-button-visualization:hover {
    background-color: var(--nav-bar-letters);
    border: none;
}
.form-control {
    border: none;
    background-color: var(--bg-color);
}

#search-button {
    border-radius: 0;
    margin: 0;
    text-shadow: -1px 1px 2px rgba(0,0,0,0.5);
}

#keywords-input, #url-input {
    background-color: var(--grey-dark);
}

.filter-input::placeholder {
    color: var(--paragraph-color);
}