/* AVENIR HEAVY FONT */
@import url(//db.onlinewebfonts.com/c/901497541657a2f24e42848bcf7fad52?family=Avenir+Heavy);
/* AVENIR MEDIUM */
@import url(//db.onlinewebfonts.com/c/0983e84d4a1963e075b5ae8ca12e2a4f?family=Avenir+Medium);
/* AVENIR LIGHT */
@import url(//db.onlinewebfonts.com/c/116af611cbcd9e4bada60b4e700430c1?family=Avenir+Light);
/* VARIABLES */

:root {
    --bold-family: "Avenir Heavy", sans-serif;
    --bold-medium: "Avenir Medium", sans-serif;
    --light-letter: "Avenir Light", sans-serif;
    --bg-color: #05137a;
    --header-color: #6ac8f8;
    --logo-color: #6832d9;
    --first-color: #f6c843;
    --second-color: #ef7a2e;
    --third-color: #7ccd9a;
    --fourth-color: #e3558f;
    --transition: 0.15s;
}

body {
    background-color: #05137a;
    height: auto;
}

/* PRINCIPAL CONTAINER */
#principal-container {
    height: 100%;
    padding: 0%;
    background-color: var(--bg-color);
}

/* HEADER */
.navbar {
    background-color: var(--header-color);
    height: 70px;
    width: 100%;
}
nav h1 {
    color: var(--logo-color);
    font-family: var(--bold-family);
    font-size: 35px;
    margin-top: 1.5rem;
}
nav span {
    color: white;
    font-family: var(--bold-family);
    font-size: 20px;
    margin: 49px;
    position: relative;
    bottom: 19px;
}
.nav-link {
    font-family: var(--bold-medium);
    color: black;
    font-weight: bold;
    transition: var(--transition);
    opacity: 90%;
}
.nav-link:hover {
    color: black;
    border-bottom: 1.5px solid black;
    border-bottom-width: 2px;
}

/* KEG COLORS */
.row {
    --bs-gutter-x: none;
}
.col-one {
    background-color: var(--logo-color);
    height: 23.5px;
}
.col-two {
    background-color: var(--fourth-color);
    height: 23.5px;
}
.col-three {
    background-color: white;
    height: 23.5px;
}
.col-four {
    background-color: var(--second-color);
    height: 23.5px;
}

/* SEARCHING TOOLS */
.container-searching {
    margin: 15px;
    text-align: center;
}
.button-keywords, .button-url {
    margin-right: 10px;
    border-radius: 10px;
    width: 23rem;
    height: 2.5rem;
    text-align: left;
    font-family: var(--light-letter);
    font-size: 20px;
    color: grey;
}
.container-searching .btn {
    height: 2.5rem;
    width: 9.5rem;
    border-radius: 10px;
    background-color: var(--header-color);
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: var(--bold-family);
    font-weight: 100px;
    border: 1px solid var(--header-color);
    transition: var(--transition);
    opacity: 90%;
}
.btn:hover {
    color: white;
    transition: var(--transition);
    opacity: 80;
}

/* CARDS STYLE */
.card {
    text-align: justify;
    width: 23.5rem;
    height: 220px;
    display: flexbox;
    border: 1px solid black;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0 2.5px 5px white;
}
.card-title {
    margin: 3px;
    font-family: var(--bold-medium);
    font-size: 15px;
}
.date, .source-url {
    font-size: 11px;
    color:gray;
    font-family: var(--light-letter);
    text-align: justify;
}
.card-text {
    font-size: 12.6px;
    font-family: var(--light-letter);
}
.btn {
    width: 80px;
    height: 25px;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    font-family: var(--bold-medium);
    align-items: center;
    font-size: 12.5px;
    margin-top: 2px;
    margin-left: 2.5px;
    border-radius: 8px;
    justify-content: center;
    bottom: 0%;
}

/* ICONS */
.trash-icon {
    width: 30px;
    height: 30px;
    float: right;
    display: flex;
    margin: 1px;
}
.check-icon {
    width: 24px;
    height: 27px;
    float: right;
    display: flex;
    margin: 2px -1px;
}
.check-icon:hover, .trash-icon:hover {
    cursor: pointer;
    opacity: 90%;
}
.cards-buttons {
    margin: 15px 0 1px 1px;
}
/* FORM PROPERTIES */

.prompt-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: auto;
    top: 0;
}
.prompt {
    background-color: white;
    position: absolute;
    top: 50%;
    width: 50vw;
    transform: translate(50%, -50%);
    border-radius: 10px;
    justify-content: center;
}
.title-text-form {
    font-family: var(--bold-family);
    margin: 5px 0 5px 10px;
    font-size: 25px;
    margin: 15px;
}
.input-field {
    font-family: var(--light-letter);
    font-size: 17px;
    border-radius: 5px;
    color: grey;
}
.form-questions {
    font-family: var(--bold-medium);
    color: black;
    margin: 2px;
}

#submit-btn, #close-form {
    width: 80px;
    height: 25px;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    font-family: var(--bold-medium);
    justify-content: center;
    align-items: center;
    font-size: 12.5px;
    margin-top: 3px;
    border-radius: 8px;
    color: white;
    margin: 4px 0 4px 4px;
}