/* AVENIR HEAVY FONT */
@import url(//db.onlinewebfonts.com/c/901497541657a2f24e42848bcf7fad52?family=Avenir+Heavy);
/* AVENIR MEDIUM */
@import url(//db.onlinewebfonts.com/c/0983e84d4a1963e075b5ae8ca12e2a4f?family=Avenir+Medium);
/* AVENIR LIGHT */
@import url(//db.onlinewebfonts.com/c/116af611cbcd9e4bada60b4e700430c1?family=Avenir+Light);

/* VARIABLES */
:root {
    --bold-family: "Avenir Heavy", sans-serif;
    --bold-medium: "Avenir Medium", sans-serif;
    --light-letter: "Avenir Light", sans-serif;
    --bg-color: #1F1F1F;
    --grey-dark: #363636;
    --grey--light: #909090;
    --title-color: #fff;
    --paragraph-color : #eaeaea;
    --header-color: #352C21;
    --logo-color: #6832d9;
    --nav-bar-letters: #E99E2D;
    --buttons-colors: #654D2F;
    --first-color: #f6c843;
    --second-color: #ef7a2e;
    --third-color: #7ccd9a;
    --transition: 0.15s;
}

body {
    background-color: var(--header-color);
    display: flex;
    height: 100vh;
}
/* WORDS */
.line-decoration {
    color: var(--nav-bar-letters);
    margin: 1px;
    height: 20px;
    margin-left: -3.8rem;
}
.container-words {
    justify-content: center;
    margin: 13.5rem;    
    float: left;
    height: 8rem;
    margin-right: 20%;
}
div h1 {
    font-family: var(--bold-family);
    color: var(--paragraph-color);
    margin-bottom: -10px;
    font-size: 70px;
}
div span {
    font-family: var(--bold-family);
    display: block;
    font-size: 20px;
    margin-left: 60px;
}
div p {
    font-family: var(--bold-family);
    font-size: 20px;
}
.login-body {
    width: 27rem;
    padding: 3rem;
    text-align: center;
    margin-top: auto;
    display: block;
    margin-bottom: auto;
    border-radius: 4px;
    align-items: center;
    margin-left: -3rem;
    background-color: var(--grey-dark);
    box-shadow: -2px 2px 6px #111;
}
.product-name {
    color: var(--paragraph-color);
    font-family: var(--bold-family);
    margin-bottom: 0%;
    font-size: 50px;
    margin-bottom: 5px;
}
.company-name {
    font-family: var(--bold-family);
    color: black;
    font-size: 21px;
    margin-left: 80px;
    margin-top: -3.5%;
}
.login, .password-button {
    margin: 13px;
    width: 20rem;
    padding: 10px;
    font-family: var(--light-letter);
    font-style: italic;
    font-size: 20px;
    color: var(--paragraph-color);
    text-align: center;
    border-radius: 0;
    box-shadow: -2px 2px 6px #111;
}
.enter-button {
    width: 170px;
    height: 45px;
    background-color: var(--buttons-colors);
    border: 1px solid var(--buttons-colors);
    font-family: var(--bold-medium);
    color: var(--paragraph-color);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 0;
    border: none;
}
.enter-button:hover {
    background-color: var(--nav-bar-letters);
    opacity: 90%;
    border: none;
}
.welcome-tag {
    font-family: var(--bold-family);
    font-size: 60px;
    color: var(--paragraph-color);
    margin-left: -50px;
}

.login::placeholder, .password-button::placeholder {
    color: var(--paragraph-color);
}